:root {
  --background: #0E779F;
  --primary: #4A0D66;
  --text-light: #969499;
  --text-dark: #37314c;
  --neutral: #d4d9e8;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-dark);
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  border: 5px solid var(--background);
  width: 100%;
  height: 25rem;
  max-width: 60rem;
  position: relative;
}

.tab-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.tab-buttons button {
  background-color: var(--neutral);
  outline: none;
  border: none;
  text-transform: uppercase;
  transition: 300ms ease;
  padding: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.tab-buttons button:focus-visible {
  outline: 2px solid black;
  outline-offset: 1px;
}

.tab-buttons button.active {
  background-color: white;
  color: var(--primary);
}

.tab-buttons button:not(.active):hover {
  filter: brightness(0.9);
}

.tab {
  position: absolute;
  inset: 5.5rem 8rem 2rem 2rem;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.tab.active {
  opacity: 1;
  transform: translateY(0);
  user-select: auto;
  pointer-events: all;
}

h2 {
  margin-top: 0;
}

p {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-top: 0;
  margin-bottom: 3rem;
}

a {
  background-color: var(--text-dark);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: 300ms ease;
  display: inline-block;
}

a:hover {
  background-color: var(--primary);
  transform: translateY(-0.25rem);
}